.main_controllers {
	z-index: 5;
	position: absolute;
	background-color: $mainControllerAudioBackColor;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10%;
}

.wrapper_inner_controllers {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	.btn-controller {
		text-align: center;
		align-items: center;
		transition: 0.1s all;
		margin: 0 15px;
		color: $mainControllersColor;
		padding: 10px;
		border-radius: 30%;
		width: 50px;
		height: 50px;
		&:hover {
			cursor: pointer;
			background-color: #fff;
			color: #fe4a49;
			transform: translateY(-5px);
		}
	}
}
.repeat_mode.active {
	background-color: #fff;
	color: #fe4a49;
}
.shuffle_mode.active {
	background-color: #fff;
	color: #fe4a49;
}
.timeline-container {
	height: 10px;
	z-index: 2;
	margin-inline: 0.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	position: absolute;
	top: -2px;
	left: -8px;
	width: 100vw;
	transition: 0.2s all;
	&:hover .timeline {
		height: 100%;
	}

	&:hover .timeline::after {
		display: block;
	}
}

.timeline {
	background-color: rgba(100, 100, 100, 0.5);
	height: 4px;
	width: 100%;
	position: relative;
	transition: 0.2s all;
	left: -7px;
	&::after {
		content: "";
		position: absolute;
		left: -7px;
		top: -1px;
		bottom: 0;
		right: calc(100% - var(--progress-position) * 100%);
		background-color: $mainRedColor;
		display: block;
	}
}

.timeline .thumb-indicator {
	--scale: 0;
	position: absolute;
	height: 10px;
	top: -10%;
	transform: translateX(-50%) scale(var(--scale));
	left: calc(var(--progress-position) * 100%);
	background-color: $mainRedColor;
	border-radius: 50%;
	transition: transform 0.15s ease-in-out;
	aspect-ratio: 1/1;
}

.timeline-container:hover .thumb-indicator {
	--scale: 2;
}

.volume-container {
	border-radius: 20px;
	height: 5px;
	z-index: 2;
	margin-inline: 0.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 10%;
	transition: 0.2s all;
	&:hover .volume {
		height: 100%;
	}

	&:hover .volume::after {
		display: block;
	}
}

.volume {
	background-color: rgba(100, 100, 100, 0.5);
	border-radius: 20px;
	height: 3px;
	width: 100%;
	position: relative;
	transition: 0.2s all;
	left: -7px;
	&::after {
		content: "";
		position: absolute;
		left: -7px;
		top: -1px;
		bottom: 0;
		right: calc(100% - var(--progress-position) * 100%);
		background-color: $mainRedColor;
		display: block;
	}
}

.volume .thumb-indicator-volume {
	--scale: 0;
	position: absolute;
	height: 10px;
	top: -25%;
	transform: translateX(-50%) scale(var(--scale));
	left: calc(var(--progress-position) * 100%);
	background-color: $mainRedColor;
	border-radius: 50%;
	transition: transform 0.15s ease-in-out;
	aspect-ratio: 1/1;
}

.volume-container:hover .thumb-indicator-volume {
	--scale: 2;
}
.volume_indicator {
	padding-right: 20px;
	color: #fff;
	width: 50px;
}
