.equalizer_section {
	background: $blackBackgroundColor;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: -100%;
	z-index: $zIndexSideSections;
	transition: 0.2s all ease-in-out;
	max-height: 100%;
	overflow: hidden;
}

.equalizer_section.active {
	top: 0;
}

.close_win_equalizer {
	color: #fff;
	position: absolute;
	right: 40px;
	top: 40px;
	z-index: 6;
	&:hover {
		cursor: pointer;
	}
}
.equalizer {
	overflow-y: scroll;
	max-height: 90vh;
}
.equalizer::-webkit-scrollbar {
	width: 20px;
}
.equalizer::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 20px;
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: content-box;
	min-width: 32px;
	min-height: 32px;
	max-height: 50px;
}
.sliders_equalizer_wrapper {
	height: 65vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section_slider {
	display: flex;
	text-align: center;
	flex-direction: column;
	margin: 0 8px;
	.title {
		line-height: 40px;
		font-size: 18px;
		color: #fff;
		font-weight: bold;
	}
	.sliders {
		display: flex;
	}
}

.range-slider {
	width: 50px;
	height: 300px;
	background-color: rgba(0, 0, 0, 0.62);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 6px;
	padding-bottom: 8px;
	margin-left: 4px;
	margin-right: 4px;
	border-radius: 4px;
	.param {
		color: #f7f7f7;
		font-size: 16px;
		line-height: 14px;
	}
	.scope {
		color: #f7f7f7;
		font-size: 14px;
		line-height: 12px;
		padding: 15px 0;
		&-min {
			margin-top: 45px;
		}
	}
	input[type="range"].vertical {
		transform: rotateZ(-90deg);
		width: 180px;
		margin-top: 50px;
	}
}

input[type="range"] {
	margin: 10px 0;
	width: 100%;
	background: transparent;
}
input[type="range"]:focus {
	outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	box-shadow: 0px 0px 0px #000000;
	background: #d8d8d8;
	border-radius: 3px;
	border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.32);
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 8px;
	background: #44bfa3;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
	background: #d8d8d8;
}
input[type="range"]::-moz-range-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	background: #d8d8d8;
	border-radius: 3px;
	border: none;
}
input[type="range"]::-moz-range-thumb {
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.32);
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 8px;
	background: #44bfa3;
	cursor: pointer;
}
input[type="range"]::-ms-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type="range"]::-ms-fill-lower {
	background: #d8d8d8;
	border: none;
	border-radius: 6px;
}
input[type="range"]::-ms-fill-upper {
	background: #d8d8d8;
	border: none;
	border-radius: 6px;
}
input[type="range"]::-ms-thumb {
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.32);
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 8px;
	background: #44bfa3;
	cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
	background: #d8d8d8;
}
input[type="range"]:focus::-ms-fill-upper {
	background: #d8d8d8;
}

.chk-none {
	display: none; /*remove checkbox*/
}

.toggle {
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 100px;
	height: 50px;
	border-radius: 50px;
	border: 4px solid white;
	overflow: hidden;
	left: 50%;
	top: 50%;
	transform: translate(-70%);
}

.toggle::before,
.toggle::after {
	position: absolute;
	width: 100px;
	height: 50px;
	border-radius: 50px;
	padding: 16px 10px;
	font-weight: bold;
	box-sizing: border-box;
	transition: left 0.5s ease-in-out;
}

.toggle::before {
	content: "";
	color: $mainControllersColor;
	background-color: $mainRedColor;
	text-align: left;
	box-shadow: inset 0 0 5px 1px rgba(0, 0, 128, 0.3);
	left: -50px;
}

.toggle::after {
	content: "";
	background-color: lightgrey;
	text-align: right;
	color: grey;
	box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.3);
	left: 0px;
}

.handle {
	display: inline-block;
	position: relative;
	width: 45px;
	height: 47px;
	border-radius: 50%;
	background-color: dimgrey;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
	z-index: 5;
	left: 0px;
	transition: left 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

input[type="checkbox"]:checked + .toggle::before {
	left: 0px;
}

input[type="checkbox"]:checked + .toggle::after {
	left: 50px;
}

input[type="checkbox"]:checked + .toggle .handle {
	left: 50px;
	background-color: #ec5c5b;
}

.checkbox_section {
	display: flex;
	justify-content: center;
	align-items: center;
}
.setting_item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 50px;
	.setting_item_title {
		color: $mainControllersColor;
		text-align: center;
	}
}
.range_section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.range_input_eq_mode {
	max-width: 50%;
}
.range_title {
	font-size: 20px;
	color: $mainControllersColor;
	text-align: center;
}
.range_item {
	margin-top: 50px;
	text-align: center;
	width: 100%;
}
