.file_manager {
	background: $blackBackgroundColor;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: -100%;
	z-index: $zIndexSideSections;
	transition: 0.2s all ease-in-out;
	max-height: 100%;
	overflow: hidden;
}

.file_manager.active {
	top: 0;
}

.close_win_file_manager {
	color: #fff;
	position: absolute;
	right: 40px;
	top: 40px;
	z-index: 6;
	&:hover {
		cursor: pointer;
	}
}

.render_exists_playlists {
	padding: 200px 15px;
	height: 100%;
	display: grid;
	justify-content: center;
	grid-gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	max-height: 70vh;
	overflow-y: scroll;
	.playlist_item {
		text-align: center;
		align-self: center;
		font-family: "Poppins", sans-serif;
		font-weight: bolder;
		font-size: 25px;
		color: #fff;
		transition: 0.3s ease-in-out;
		&:hover {
			cursor: pointer;
			color: $mainRedColor;
			transform: translateY(-20px);

			.count_content {
				animation: bounce-in-bottom 0.8s both;
			}
			.openFolder{
				
				display: block;
			}
			.closeFolder{
				display: none;
			}
		}

		.openFolder{
			display: none;
		}
	}
}
.render_exists_playlists::-webkit-scrollbar {
	width: 20px;
}
.render_exists_playlists::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 20px;
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: content-box;
	min-width: 32px;
	min-height: 32px;
	max-height: 50px;
}

.wrapper_playlist_item {
	position: relative;
	z-index: 5;
	user-select: none;
	.count_content {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: -1;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: #fff;
		color: $mainRedColor;
		transition: 0.3s all;
		position: absolute;
		left: -15px;
		top: 50px;
	}
}

.hd_file_manager {
	color: $mainControllersColor;
	margin: 80px 20px 20px 20px;
	text-align: center;
	font-size: 30px;
}

.data_about_playlists {
	text-align: center;
	color: $mainControllersColor;
}

.content_item {
	color: #fff;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
	align-items: center;
	padding: 20px 15px;
	&:hover {
		cursor: pointer;
		color: $mainRedColor;
		background-color: #fff;
	}
}
.content_item.playing-track {
	color: $mainRedColor;
	background-color: #fff;
}
.content_current_playlist_render {
	max-height: 60vh;
	overflow-y: scroll;
	.play_current_content {
		display: grid;
		justify-content: center;
	}
	.ext_content_item {
		display: grid;
		justify-content: center;
	}
}
.content_current_playlist_render::-webkit-scrollbar {
	width: 20px;
}
.content_current_playlist_render::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 20px;
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: content-box;
	min-width: 32px;
	min-height: 32px;
	max-height: 50px;
}

.wrapper_content_item {
	margin-bottom: 40px;
}

.data_name_content_item {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.pagination_current_playlist {
	margin-top: 20px;
	display: none;
	justify-content: center;
	align-items: center;
	color: #fff;
	div {
		margin-right: 20px;
		&:hover {
			cursor: pointer;
			color: $mainRedColor;
		}
	}
}
.pagination_current_playlist.active{
	display: flex;
}
.playing-playlist-name {
	padding: 20px;
	font-size: 25px;
	color: $mainRedColor;
	//	font-family: "Poppins", sans-serif;
	font-weight: 800;
}

.current_and_total_pages_playlist {
	letter-spacing: 2px;
}
.add_track_to_saved_list {
	width: 100%;
	height: 100%;
	text-align: center;

	svg {
		&:hover {
			cursor: pointer;
		}
	}
}

.btn_delete_current_playlist{
	position: fixed;
	display: none;
	top: 0px;
	right: 40px;
	color: $mainRedColor;
	transition: .2s all ease-in-out;

		&:hover{
			cursor: pointer;
			transform: scale(1.1);
		}
}
.btn_delete_current_playlist.active{
	display: block;
}