
$mainControllerAudioBackColor: #009FB7;
$mainControllersColor: #F4F4F8;
$mainRedColor: #FE4A49;
$blackBackgroundColor: #11101d;
$zIndexAddPlaylistSection:5;
$widthSidebar:80px;
$LeftCanvas:calc($widthSidebar/2);